<div>
    <h1> Installer List View</h1>
    <div class="col-md-4">
        <table class="table">
          
            <thead style="background-color: black; color: white;">
                <th>Installer name</th>
                <th>email</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr>
                    <td>dadadf</td>
                    <td>faf@gmail.com</td>
                    <td><a href="">view</a></td>
                </tr>
                <tr>
                    <td>dadadf</td>
                    <td>faf@gmail.com</td>
                    <td><a href="">view</a></td>
                </tr>
                <tr>
                    <td>dadadf</td>
                    <td>faf@gmail.com</td>
                    <td><a href="">view</a></td>

                </tr>
                <button type="button" class="btn btn-info" (click)="navigateToInstad()">view</button>
                <router-outlet></router-outlet>
            </tbody>
           
        </table>
      
    </div>


</div>